<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.mapper.ItemMapper">


	<select id="showItemList" resultType="com.example.app.dto.All">

		select
		IT.item_no,IT.item_name,IT.cost_price,SE.selling_price,ST.item_status
		from T_ITEM IT
		left join T_SELLING SE
		on IT.item_no = SE.item_no
		left
		join T_STATUS ST
		on IT.item_no = ST.item_no
		order by IT.item_no

	</select>
	
	<select id="showNoSellingItemList" resultType="com.example.app.dto.All">

		select
		IT.item_no,IT.item_name,IT.cost_price,SE.selling_price,ST.item_status
		from T_ITEM IT
		left join T_SELLING SE
		on IT.item_no = SE.item_no
		left
		join T_STATUS ST
		on IT.item_no = ST.item_no
		where SE.selling_price is null
		order by IT.item_no

	</select>
	
	<select id="showNoStatusItemList" resultType="com.example.app.dto.All">

		select
		IT.item_no,IT.item_name,IT.cost_price,SE.selling_price,ST.item_status
		from T_ITEM IT
		left join T_SELLING SE
		on IT.item_no = SE.item_no
		left
		join T_STATUS ST
		on IT.item_no = ST.item_no
		where ST.item_status is null
		order by IT.item_no

	</select>
	
	<select id="showItemDetailByItemNo" resultType="com.example.app.dto.All">
	
		select IT.item_no,IT.item_name,IT.cost_price,SE.selling_price,ST.item_status
		from T_ITEM IT
		left join T_SELLING SE
		on IT.item_no = SE.item_no
		left join T_STATUS ST
		on IT.item_no = ST.item_no
		where IT.item_no = #{itemNo}
	
	</select>

	<insert id="addItem" parameterType="com.example.app.dto.Item">

		insert into
		T_ITEM(item_no,item_name,cost_price)
		values
		(#{itemNo},#{itemName},#{costPrice})

	</insert>
	
	<delete id="deleteItem" parameterType="String">

		delete from T_ITEM
		where
		item_no = #{itemNo}

	</delete>
	
	<update id="changeItemName" parameterType="com.example.app.dto.Item">
		
		update T_ITEM
		set item_name = #{itemName}
		where item_no = #{itemNo}
		
	</update>
	
	<update id="changeItemCostPrice" parameterType="com.example.app.dto.Item">
		
		update T_ITEM
		set cost_price = #{costPrice}
		where item_no = #{itemNo}
		
	</update>

	

</mapper>
