@charset "UTF-8";
@media screen and (max-width: 748px){
	body{
		font-size: 12px;
	}
	
	.home_buttons{
		height: 80%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	
	.button{
		height:30px;
		width:100px;
		font-weight:bold;
	}
	
	.item_info{
		width: 300px;	
	}
	
	.change_buttons{
		margin: 0 auto;
	 	width: 240px;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	
}