<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>home</title>
</head>
<body>

	<a href="/list">
		<button>一覧表示</button>
	</a>
	<a href="/showitemadd">
		<button>商品登録</button>
	</a>
	<a href="/showitemdelete">
		<button>商品削除</button>
	</a>
	<a href="/showitemchange">
		<button>商品変更</button>
	</a>
	
	
	<a href="/showsellingadd">
		<button>販売価格登録</button>
	</a>
	<a href="/showsellingdelete">
		<button>販売価格削除</button>
	</a>
	<a href="/showsellingchange">
		<button>販売価格変更</button>
	</a>
	
	
	<a href="/showstatusadd">
		<button>販売状況登録</button>
	</a>
	<a href="/showstatusdelete">
		<button>販売状況削除</button>
	</a>
	<a href="/showstatuschange">
		<button>販売状況変更</button>
	</a>

</body>
</html>