<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>add</title>
<link rel="stylesheet" th:href="@{css/common.css}" />
<link rel="stylesheet" th:href="@{css/sp.css}" />
</head>
<body>
	<header>
		<h1>新規商品追加</h1>
	</header>
	<main>
	<div class="item_info">
	<form action="/additem" method="post">
		<table>
		<tr>
		<th><label>商品番号</label></th>
		<th><label>商品名</label></th>
		<th><label>原価</label></th>
		</tr>
		
		<tr>
		<td><input type="text" name="itemNo" /></td>
		<td><input type="text" name="itemName" /></td>
		<td><input type="text" name="costPrice" /></td>
		</tr>
		</table>
		<div class="item_add">
		<input type="submit" value="登録" class="item_add_button"/>
		</div>
	</form>

	</div>
	</main>
	<footer>
	<div class="buttons">
	<a href="/home">
		<button class="button">ホーム</button>
	</a>
	<a href="/list">
		<button class="button">一覧</button>
	</a>
	</div>
	</footer>
</body>
</html>